<ion-content *ngIf="showForm">
  <div class="ibp-container">
    <div class="row ibp-header"></div>
    <div class="row ibp-content">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" padding-right>
        <ion-item>
          <ion-label position="stacked">
            {{ "LOGIN.USERNAME" | translate }}
          </ion-label>
          <ion-input type="text" formControlName="email" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">
            {{ "LOGIN.PASSWORD" | translate }}
          </ion-label>
          <ion-input
            type="password"
            formControlName="password"
            required
          ></ion-input>
        </ion-item>
        <div class="ibp-buttons">
          <span text-right>
            <a routerLink="/user-forgot-password">
              {{ "LOGIN.RESET_PASSWORD" | translate }}
            </a>
          </span>
          <ion-button
            type="submit"
            color="primary"
            expand="block"
            [disabled]="!loginForm.valid"
          >
            {{ "LOGIN.LOGIN" | translate }}
          </ion-button>
          <span>{{ "LOGIN.OR_LOGIN_WITH" | translate | uppercase }}</span>
          <ion-button color="google" expand="block" (click)="doGoogleLogin()">
            {{ "LOGIN.GOOGLE" | translate }}
          </ion-button>
          <span>
            {{ "LOGIN.SIGNUP_TEXT" | translate | uppercase }}
            <a routerLink="/signup">{{
              "LOGIN.SIGNUP" | translate | uppercase
            }}</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</ion-content>
